@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(2, 2, 2);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  max-width: 1200px;
  margin-top: 50px;
  padding: 10px;
}

@layer base {
  h1 {
    @apply font-light;
    font-size: 20px;
  }
}
