.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: grid;
  margin-top: 150px;
  width: 100%;
  gap: 20px;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .cardContainer {
    grid-template-columns: 350px;
  }
}
